* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  max-height: 80%;
}
.square {
  width: 8px;
  height: 8px;
  background: #1d1d1d;
  margin: 1px;
  box-shadow: 0 0 10px #000;
  transition: 3s ease-in-out;
}

.square:hover {
  transition-duration: 0s;
}
